.service-container {
  display: flex;
  flex-direction: column;
  padding: 1em 0.5em 0 2.5em;

  .service-header {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0 1.5rem 0;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    @media (max-width: 650px) {
      display: flex;
      justify-content: center;
      margin: 0.8rem 0 1.5rem 0;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      flex-direction: column;
      .button-container {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
    .button-container {
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .button-service {
      background-color: #ae7a6c;
      color: white;
      border: none;
      border-radius: 25px;
      padding: 1rem 1.5rem;
      font-size: 16px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      &:hover {
        cursor: pointer;
        filter: brightness(80%);
      }
    }
    .button__container {
      padding: 10px;
    }
  }
  .service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    padding: 1rem;

    .service-grid-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .service-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 250px;
        min-width: 250px;
        padding: 1rem;
        border: 1px solid #ae7a6c;
        border-radius: 25px;

        .service-card-content {
          text-align: center;
          padding: 1.5rem;

          .service-card-h5 {
            font-size: 1.2rem;
            font-weight: 700;
            font-family: "Montserrat", sans-serif;
          }

          .service-card-p {
            color: #ae7a6c;
            font-size: 1.2rem;
            font-weight: 700;
          }
        }

        .service-card-actions {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        }

        .service-card-actions button {
          background-color: #ae7a6c;
          color: white;
          margin-top: 0.5rem;
          height: 40px;
          width: 50px;
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 15px;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }
}
