$tabBackgroundColor: #7f7e7e38;
$selectedTabColor: black;
.registration-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("https://somospnt.com/images/charlaa.jpg");
  background-image: url("https://somospnt.com/images/charlaa.jpg");
  background-size: cover;
  background-position: center;
  .registration-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 60%;

    .title-register {
      color: grey;
      font-size: 2rem;

      strong {
        font-weight: bold;
        color: black;
      }
    }

    .subtitle {
      color: black;
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 10px;
    }

    .tabs-container {
      display: flex;
      margin-top: 20px;
      background-color: rgba(126, 126, 126, 0.019);
      width: 100%;

      .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
        cursor: pointer;
        font-weight: 800;
        font-size: 1.4rem;
        border: 1px solid transparent;
        background-color: #d9d9d9;
        width: 100%;
        color: black;

        &.active {
          color: $selectedTabColor;
          border-bottom: none;
          background-color: #e2d4bb;
        }
      }
    }

    .tab-content {
      display: flex;
      flex-wrap: wrap; // Ajusta el contenido al tamaño de pantalla
      width: 100%;
      margin-top: 1rem;
    }
  }
}
