/* Cards.scss */
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #EBDCC1;
  min-height: 100vh;
  .divisor-header-bottom{
    text-align: center;
    padding: 1em;
    width: 100%;
    background: #CDB1A3;
    color: #000;
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 600;
  }
  .card-top{
    background: #CDB1A3;
    width: 100%;
    .select__top{
      width: 100%;
      .select__p__top{
        font-size: 1.5em;
        font-weight: 600;
      }
    }
  }
  .card-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 1em;
    border-radius: 25px;
    width: 90%;
    height: 6em;
    background: #ffffff;
    padding: 1em;
    .card__title__services{
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .card__value__services{
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 1.3rem;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .card__title {
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    .card__value {
      color: rgba(0, 0, 0);
      font-family: Montserrat;
      font-size: 3rem;
      font-weight: 600;
    }
  }
  .card-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 1em;
    border-radius: 25px;
    width: 90%;
    height: 7em;
    background: #ae7a6c;
    padding: 1em;
    .card__title {
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    .card__value {
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 3em;
      font-weight: 600;
    }
  }
}

@media (max-width: 1200px) {
  .cards-container {
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 10em;
    height: 100%;
    .card-top{
      background: #CDB1A3;
      .select__top{
        width: 100%;
        .select__p__top{
          font-size: .7em;
        }
      }
    }
    .divisor-header-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 4em;
      font-size: .7em;
    }
    .card-header,
    .card-bottom {
      height: 4.5em; 
      border-radius: 15px;
      .card__title__services{
        font-size: .7rem;
        margin-top: .5em;
      }
      .card__value__services{
        font-size: .8rem;
      }
      .card__title {
        font-size: .7rem;
        margin-top: .5em;
      }
      .card__value {
        font-size: 1rem;
      }
    }
  }
}