.assignSessionModal__root {
  & .MuiDialog-paper {
    border-radius: 25px;
    min-height: 240px;
    min-width: 200px;
  }
  .loadingSpinner__container {
    position: relative;
    margin: auto;
  }
  .assignSessionModal__form {
    padding: 1rem;
    .assignSessionModal__actions {
      display: flex;
      gap: 1.5rem;
      .clientForm__btn {
        background-color: #9c6d61;
        color: white;
        padding: 10px 50px;
        border-radius: 5rem;
        box-shadow: 0 2px 5px 0 rgba(75, 75, 75, 0.5);
        display: block;
        font-size: 18px;
        font-weight: 700;
        border: none;
        cursor: pointer;
        &:hover {
          filter: brightness(85%);
        }
        &.cancel {
          background-color: #E2D4BB;
          color: black  ;
        }
      }
    }
  }
}
