.AllHome{
    display: flex;
    flex-direction: row;
        .HomeContainer{
            display: flex;
            flex-direction: row;
            background: rgba(217, 217, 217, 0.50);
            width: 100%;
            height: 100vh;
            margin: auto;
            .ContainerCards{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                min-width: 50em;
                max-width: 100em;
                margin: auto;
                .Link{
                    text-decoration: none;
                    //Preguntar color: inherit; 
                    .Cards{
                        width: 240px;
                        height: 140px;
                        border-radius: 25px;
                        margin: 2.5em;
                        border: 0.5px solid rgba(0, 0, 0, 0.50);
                        background: #F1F3EE;
                        padding: 2em;
                        cursor: pointer;
                        &:hover {
                            transition: all .5s;
                            transform: scale(1.1);
                            background: rgb(255, 251, 241);
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                        .Img{
                            width: 25px;
                            height: 25px;
                        }
                        .Title{
                            color: #000;
                            font-family: Montserrat;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .Variables{
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            padding-top: .5em;
                            color: #000;
                            font-family: Montserrat;
                            font-size: 30px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
}
@media (max-width: 830px) {
    .AllHome{
        .HomeContainer{
            .ContainerCards{
                display: flex;
                margin: auto;
                .Link{
                    .Cards{
                        width: 170px;
                        height: 120px;
                        .Title{
                            font-size: 15px;
                        }
                        .Variables{
                            font-size: 20px;
                            margin-top: .5em;
                        }
                    }
                }
            }
        }
    }
}