.createAppointment__root {
  padding: 1.5rem 1rem;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  @media (min-width: 1199px) {
    margin-left: 0;
    padding: 3rem 2.5rem;
  }
  .title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  .textArea-container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height: 100%;
    
    .textArea-label{
      font-size: 1.2rem;
      font-weight: 500;
      color: #000000;
    }
  
    .textArea{
      width: 500px;
      height: 100%;
      border: 1px solid #e0d2b5;
      border-radius: 4px;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #000000;
      resize: none;
      outline: none;
      border-radius: 0 25px 25px 25px;
    }
  }
  .confirm-button {
    background-color: #9c6d61;
    text-align: center;
    text-wrap: nowrap;
    font-family: "Montserrat";
    padding: .6rem 2rem;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0px 4px 4px 0px #00000040;
    -webkit-box-shadow:  0px 4px 4px 0px #00000040;
    -moz-box-shadow:  0px 4px 4px 0px #00000040;
    &:hover {
      cursor: pointer;
      background-color: #9c6d61c3;
    }
  }
}