.signup__root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100vh;
  width: 100vw;
  .signup__form {
    display: flex;
    // justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 88%;
    background-color: #ffff;
    border-radius: 50px;
    .signup__title {
      margin-top: 30px;
      span {
        color: #666666;
      }
    }
    .signup__subtitle {
      color: #666666;
      span {
        color: #9c6d61;
      }
    }
    .signup__stepers {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .steper {
        width: 100%;
        padding: 20px 20px;
        text-align: center;
        background-color: #d9d9d9;
      }
      .selected {
        background-color: #9c6d61;
      }
    }
    .variable__form {
      position: relative;
      margin-top: 20px;
      width: 70%;
      height: 100%;
      .submit_btn {
        margin-top: 20px;
        background-color: #9c6d61;
        color: #fff;
        width: 100%;
        padding: 10px 30px;
        border-radius: 16px;
        border: none;
      }
      .back_btn{
        margin-top: 20px;
        background-color:#E2D4BB;
        color: #fff;
        width: 100%;
        padding: 10px 30px;
        border-radius: 16px;
        border: none;
      }
      .disabled {
        background-color: grey;
      }
    }
  }
}
