.agendar__container {
      
    border: 1px solid rgb(188, 188, 188);
    background-color: var(--bg-beige);
    width: 250px;
    border-radius: 2rem;
    height: 150px;
    padding: 2rem;
    cursor: pointer;
  &:hover {
    
  }
  .icon {
    font-size: 4rem;
  }

    .route {
        
        font-weight: 600;
        
        font-size: 1.5rem;
      }
  }
