.create-membership-modal {
  max-width: 578px;
  max-height: 735px;
  flex-shrink: 0;
  .membership-modal-title {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .membership-modal-subtitles {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .textField-membership {
    width: 100%;
  }
  .membership-modal-textarea {
    outline-color: #ae7a6c;
    width: 100%;
    min-height: 110px;
    border-radius: 0px 25px 25px 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Montserrat", "sans-serif";
  }
}
