.back-button {
    text-align: center;
    padding: 1rem 3rem;
    color: rgb(0, 0, 0);
    border: none;
    align-self: flex-end;
    font-family: "Montserrat";
    width: 100%; /* Ancho del 100% para ocupar todo el espacio disponible */
    height: 4rem;
    flex-shrink: 0;
    border-radius: 15px;
  
    background: #e2d4bb;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: background-color 0.3s ease; /* Agregado para suavizar la transición */
    
    @media (max-width: 768px) {
      /* Ajustes específicos para pantallas más pequeñas */
      padding: 0.8rem 2rem;
      font-size: 1.2rem;
      height: 3rem;
    }
  
    &:hover {
      cursor: pointer;
      background-color: #9c6d61c3;
    }
  }
  