.info-personal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2% 3%; /* Ajusta el espaciado */
  align-items: center;
  @media (max-width: 768px) {
    width: 100%; /* Ajusta el ancho para pantallas pequeñas */
    height: auto; /* Ajusta la altura para pantallas pequeñas */
  }
  .title-info-personal {
    color: rgba(0, 0, 0, 0.6);
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto; /* Cambia la altura a automático */
    width: 100%;
    height: 100%;
    gap: 1.5rem; /* Reduce el espacio entre elementos */
    padding: 2% 5%; /* Ajusta el espaciado */
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      padding: 0% 0%; /* Ajusta el espaciado */
    }

    .info-inputs {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        height: 33rem;
      }
      .input-field {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 25rem;
        height: 3rem;
        flex-shrink: 0;
        justify-content: flex-start;
        width: 100%;
        color: rgba(0, 0, 0, 0.6);
        font-family: Montserrat;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 0.5rem;
          padding: 0% 0%; /* Ajusta el espaciado */
        }
        .input-label {
          text-align: start;
          font-size: 2rem;
          width: 100%;
        }
      }

      .custom-input {
        border: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.323);
        padding: 0 0;
        margin-top: 0.5rem;
        font-size: 2.4rem;
        color: black;
        background-color: transparent;
        transition: border-bottom 0.3s ease;
        width: 25rem;
        height: 2rem;
        flex-shrink: 0;
        color: rgba(0, 0, 0, 0.3);
        font-family: Montserrat;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &::placeholder {
          padding: 0;
          color: rgba(0, 0, 0, 0.3);
          font-family: Montserrat;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        &:focus {
          outline: none;
          border-bottom-color: #007bff;
          font-size: 1.8rem;
        }
      }
    }

    .upload-section {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 25rem;
      height: 25rem;
      flex-shrink: 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;

      @media (max-width: 768px) {
        width: 17rem; /* Ajusta el ancho para pantallas pequeñas */
        height: 15rem; /* Ajusta la altura para pantallas pequeñas */
        margin-top: 3px;
      }
      .upload-image {
        position: absolute;
        margin-right: 1rem;
        bottom: 20%;
        left: 35%;
      }
    }
  }
  .next-button-section {
    align-self: flex-end;
    .next-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #9c6d61;
      width: 100%;
      padding: 1rem 3rem;
      color: white;
      border: none;
      border-radius: 15px;
      align-self: flex-end;
      &:hover {
        cursor: pointer;
        background-color: #9c6d61c3;
      }
    }
  }
  .error-message {
    color: #ff0000; /* Color rojo para indicar error */
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0.5rem; /* Espacio superior para separar del contenido */
    text-align: center; /* Centrar el texto */

    @media (max-width: 768px) {
      font-size: 1.2rem; /* Tamaño de fuente reducido para pantallas pequeñas */
    }
  }
}
