$tabBackgroundColor: #7f7e7e38;
$selectedTabColor: black;

.registration-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("https://s3-alpha-sig.figma.com/img/96db/3a25/6d8b5083788a011a941a927b6779022a?Expires=1695600000&Signature=pR-q6xpXQAIAtStZyqx~1SW7gZm8QsB6Gjm9WDP95xHyr3o2k4qoXEFKX6YCae6dHyYFB3Y3nvFXthPSyTnyNFxmgPkZ8LKL~C5hgURxxXa8h21e3j6Pumd8X6D4FCJCAijjz~4vPsddORv14UFesurJluTeV4TSgQHx6ksgQmB1yV9QhfJd86xa-q-tflrJoOWXZw8jdKIdzXclORZzKF5Nr5Xx~f1Vu0bqaI1sUraThJCXt3YUQh9rCrhLLFp1DFixkeX5v1jxLKJYgIBRkZjG6NUG69BzUsHRIW--SM7GKDqEc7qMsd3JYTMf-FS1rTNFkq9mk~NBiisX6wzNfA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-size: cover;
  background-position: top;

  @media (max-width: 768px) {
    height: 100%;
  }

  .registration-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: #f0f0f0;
    border-radius: 20px;
    width: 100%;
    max-width: 75rem;
    height: 80vh;
    flex-shrink: 0;

    @media (max-width: 1023px) {
      height: 100vh;
    }
    @media (max-width: 768px) {
      height: 80rem;
      max-height: 80rem;
      width: 100%;
      padding: 1rem;
    }
    @media (max-width: 460px) {
      height: 86rem;
      max-height: 86rem;
    }

    .title-register {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(0, 0, 0, 0.6);
      font-family: Montserrat;
      font-size: 2.2em;
      font-weight: 700;
      text-align: center;
      gap: 0.5rem;
      .title-bold{
        color: black;
        font-weight: bold;
      }
      strong {
        color: #000;
        font-size: 3.6rem;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .subtitle {
      color: rgba(0, 0, 0, 0.6);
      font-family: Montserrat;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 1.5rem;

      .subtitle-usted {
        color: #9c6d61;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .tabs-container {
      display: flex;
      margin-top: 20px;
      background-color: rgba(126, 126, 126, 0.019);
      width: 100%;
      height: 6rem;

      .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        border: 1px solid transparent;
        background-color: #d9d9d9;
        color: #000;
        font-family: Montserrat;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: normal;
        width: 100%;

        &.active {
          color: $selectedTabColor;
          border-bottom: none;
          background-color: #e2d4bb;
        }
      }
    }

    .tab-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
}
