.root__container {
    width: fit-content;

    @media (max-width: 1199px) {
        margin: 0em 0em 0em 47px;
    }




    .provider__image__container {
        padding-top: 2%;
        padding-inline: 2%;
        padding-bottom: 2%;

        .provider__image {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            background: #FFFDFD;
            border-radius: 25px;
            border: 0.5px solid rgba(0, 0, 0, 0.308);
        }
    }

    .provider__profile__container {
        padding: 2%;
        height: fit-content;
        width: fit-content;

        @media (max-width: 650px) {
            height: fit-content;
        }

        .provider__profile {
            display: flex;
            flex-direction: column;
            padding-left: 3%;
            padding-top: 4%;
            padding-bottom: 4%;
            min-height: fit-content;
            max-height: max-content;
            background: #FFFDFD;
            border-radius: 25px;
            border: 0.5px solid rgba(0, 0, 0, 0.308);


            .provider__profile__first__section {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                /* border: 1px rgb(255, 47, 0) solid; */

                @media (max-width: 650px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .provider__profile__info__container {
                    display: grid;
                    grid-template-rows: 2fr 2fr 2fr 2fr;
                    /* Define tres filas con diferentes tamaños */
                    grid-template-columns: 1fr 1fr;
                    /* Define dos columnas con diferentes tamaños */
                    gap: 4%;
                    width: 90%;
                    height: 80%;
                    margin-bottom: 4%;
                    /*  border: 2px rgb(0, 149, 22) solid; */

                    @media (max-width: 650px) {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        padding-inline: 20px;
                        gap: 20px;
                        width: 100%;
                    }

                    .provider__profile__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                    }


                    .provider__profile__info__date__container {
                        display: flex;
                        border-bottom: 1px solid grey;
                        font-size: 0.9rem;
                        align-items: center;
                        justify-content: space-between;
                        transition: border-bottom ease-out 0.1s;
                        box-sizing: border-box;
                        margin-top: 10px;
                        /* padding-bottom: 8px; */

                        .provider__profile__info__date {
                            height: 100%;
                            border-bottom: none;
                            border-top: none;
                            border-left: none;
                            border-right: none;
                            font-size: small;
                            font-weight: 100;
                            color: grey;
                            margin-left: 10px;
                            box-sizing: border-box;

                        }

                        .provider__profile__info__date:focus-visible {
                            outline: none;
                        }

                        input[type="date"]::-webkit-calendar-picker-indicator {
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                            background-color: #e1c2b2;
                            padding: 8px;
                            cursor: pointer;
                            /* margin-right: 1vh; */
                        }

                        input[type="date"]::-webkit-datetime-edit-fields-wrapper {
                            border-radius: 6px;
                            cursor: pointer;
                            color: black;
                            font-family: "Montserrat", sans-serif;
                        }

                        .provider__profile__info__date__title {
                            width: 'max-content'
                        }
                    }

                    .provider__profile__info__date__container:hover {
                        border-bottom: 2px solid #000;
                    }
                }

                .provider__profile__modals__container {
                    /*  width: 40%;
                    height: 100%; */
                    margin-inline: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: stretch;
                    /* border: 2px rgb(0, 15, 125) solid; */

                    @media (max-width: 650px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                    }

                    .btn__modal__availability {
                        background-color: #EBDCC1;
                        width: 190px;
                        height: 80px;
                        padding-inline: 2%;
                        border-radius: 25px;
                        border: 0.5px solid rgba(0, 0, 0, 0.50);
                        background: #EBDCC1;
                        margin-top: 10px;

                        @media (max-width: 650px) {
                            width: 30rem;
                            height: 5rem;
                        }
                    }

                    .btn__modal__availability__items {
                        font-size: small;
                        font-weight: 600;

                    }

                }
            }

            .provider__profile__second__section {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: space-evenly;
                margin-top: 3%;
                /* border: 1px rgb(255, 47, 0) solid; */

                @media (max-width: 1110px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 0px
                }
                @media (max-width: 650px) {
                    margin-top: 6%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }


                .provider__profile__buttons__container {
                    min-width: fit-content;
                    min-height: fit-content;
                    width: 24%;
                    /* border: 2px rgb(0, 149, 22) solid; */
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    
                    @media (max-width: 1110px) {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin-top: 0px
                    }
                    @media (max-width: 650px) {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        height: 100%;
                        width: 60%;
                    }

                    .profile__btnContraseña {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2px;
                        width: 13rem;
                        padding: 5px 10px;
                        border-radius: 25px;
                        font-size: smaller;
                        font-weight: 700;
                        color: white;
                        border: none;
                        background-color: #9C6D61;
                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.376);
                        cursor: pointer;

                        @media (max-width: 1110px) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-top: 0px;
                            width: 20rem;
                           /*  margin-left: 4rem; */
                        }
                        @media (max-width: 650px) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-top: 0px;
                            /* margin-left: 4rem; */
                            width: 100%;
                        }
                    }

                    .profile__btnGuardar {
                        margin-top: 10px;
                        width: 100%;
                        max-width: 100%;
                        padding: 12px;
                        border: none;
                        border-radius: 25px;
                        font-size: small;
                        color: white;
                        background-color: #9C6D61;
                        border-radius: 2rem;
                        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.376);
                        cursor: pointer;
                        font-weight: 700;

                        @media (max-width: 1110px) {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 0px;
                            margin-right: 4rem;
                            width: 20rem;
                        }
                        @media (max-width: 650px) {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 0px;
                            margin-right: 4rem;
                            width: 100%;
                        }
                    }
                }

                .provider__profile__documents__container {
                    width: 100%;
                    height: 92%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    @media (max-width: 650px) {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-wrap: wrap;
                        height: 50%;
                        width: 50%;
                        margin-top: 8%;
                    }

                    .provider__container {
                        @media (max-width: 650px) {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            flex-wrap: wrap;
                            height: 90%;
                            width: 90%;
                            margin-top: 8%;
                        }

                        @media (max-width: 1110px) {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            padding-inline: 3rem;
                            justify-items: center;
                        }

                        .provider__profile__documents {
                            min-width: min-content;
                            min-height: min-content;
                            width: 50%;
                            height: 50%;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            @media (max-width: 650px) {
                                height: 100%;
                                width: 100%;
                                margin-inline: 20px;
                            }

                            .provider__profile__documents__label {
                                left: 0;
                                top: 0;
                                position: relative;
                                color: black;
                                font-size: 0.6rem;
                                /* Use relative font size */
                                font-family: Montserrat;
                                font-weight: 600;
                                word-wrap: break-word;
                                margin-bottom: 1vh;
                                width: max-content;
                                text-align: center;

                            }

                            .provider__profile__documents__logo {
                                max-width: 80%;
                                /* Use a maximum width for the icons */
                                height: 50%;
                                left: 5;
                                top: 18;
                                position: relative;

                                .provider__profile__documents__logo__background {
                                    width: 45%;
                                    height: 50%;
                                    left: 0;
                                    top: 0;
                                    position: absolute;
                                    background: #D9D9D9;
                                }

                                .provider__profile__documents__logo__icon {
                                    width: 100%;
                                    height: 96%;
                                    position: relative;
                                }
                            }

                            .provider__profile__documents__buttons__container {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
    }

}