$mainPadding: 1.5rem;
.selectServices__root {
  .selectServices__header {
    background-color: #EBDCC1;
    padding: $mainPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 2rem;
      font-weight: 600;
    }
    .closeIcon {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  .selectServices__body {
    display: flex;
    flex-direction: column;
    padding: .5rem $mainPadding;
    .body-header {
      margin-bottom: 1rem;
      .subtitle {
        margin-top: 0.2rem;
        text-align: center;
        font-weight: 600;
      }
      .desc {
        color: #00000099;
      }
    }
    .body__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .selectServices__multiselect {
        padding: 1rem;
        display: flex;
        justify-content: center;
        .multiselect__container {
          width: 100%;
          max-width: 400px;
          @media (min-width: 480px) {
            max-width: 400px;
          }
          @media (min-width: 720px) {
            max-width: 640px;
          }
          outline-color: #00000080;
          .label {
            color: #000000;
            font-weight: 600;
            font-size: 20px;
            background-color: #fff;
            padding: 0 .3rem;
            margin-bottom: -5px;
          }
          .select__input {
            border-radius: 15px;
            border-color: #00000080;

            &:focus {
                border-color: #00000080;
            }
          }
        }
      }
    }
    .selectServices__form {
      display: flex;
      flex-direction: column;
    }
    .selectServices__action-button {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      .continue__btn, .restore__btn {
        background-color: #9C6D61;
        text-align: center;
        text-wrap: nowrap;
        font-family: "Montserrat";
        padding: .5rem 1.5rem;
        border: none;
        border-radius: 15px;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        box-shadow: 0px 4px 4px 0px #00000040;
        -webkit-box-shadow:  0px 4px 4px 0px #00000040;
        -moz-box-shadow:  0px 4px 4px 0px #00000040;
        &:hover {
            cursor: pointer;
            background-color: #9c6d61c3;
        }
      }
      .restore__btn {
        color: #000000;
        background-color: #EBDCC1;
        &:hover {
          background-color: #80594fc3
        }
      }
    }
  }
}