.collaborators__root {
  padding: 1em 0.5em 0 2.5em;
  margin-right: 0;
  width: 100%;
  .collaborators__header {
    display: flex;
    justify-content: space-between;
    margin: .8rem 0 1.5rem 0;
    align-items: center;
    font-family: inherit;
    .collaborators__search_bar {
      display: flex;
      flex-direction: row;
      .search__input {
        background-color: #D9D9D9;
        border-radius: 25px 0 0 25px;
        border: none;
        padding: 1rem 1.5rem;
        font-weight: 600;
        font-size: 15px;
        font-family: inherit;
        outline: none;
        &::placeholder {
          color: #00000080;
        }
      }
      .search__button {
        background-color: #EBDCC1;
        border: none;
        border-radius: 0 25px 25px 0;
        padding: 1rem 1.5rem;
        font-size: 16px;
        font-weight: 700;
        font-family: inherit;
        cursor: pointer;
      }
    }
    .button__new {
      background-color: #9c6d61;
      text-align: center;
      font-family: "Montserrat";
      padding: 1rem 3rem;
      border: none;
      border-radius: 25px;
      align-self: flex-end;
      color: #fff;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      box-shadow: 0px 4px 4px 0px #00000040;
      -webkit-box-shadow:  0px 4px 4px 0px #00000040;
      -moz-box-shadow:  0px 4px 4px 0px #00000040;
      &:hover {
          cursor: pointer;
          background-color: #9c6d61c3;
      }
    }
  }
  .collaborators_table {
    width: 100%;
  }
  @media (max-width: 1200px) {
    padding-left: 3.5em;
  }
}
 