.root__container {
    @media (max-width: 1199px) {
        margin: 0em 0em 0em 47px;
    }



    .provider__image__container {
        padding-top: 2%;
        padding-inline: 2%;
        padding-bottom: 2%;

        .provider__image {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2%;
            background: #FFFDFD;
            border-radius: 25px;
            border: 0.5px solid rgba(0, 0, 0, 0.308);
        }
    }

    .provider__profile__container {
        padding: 2%;

        .provider__profile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 3%;
            padding-top: 4%;
            padding-bottom: 4%;
            height: 65vh;
            background: #FFFDFD;
            border-radius: 25px;
            border: 0.5px solid rgba(0, 0, 0, 0.308);

            .provider__profile__first__section {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                width: 88%;
                /* border: 1px rgb(255, 47, 0) solid; */

                @media (max-width: 800px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .provider__profile__info__container {
                    display: grid;
                    grid-template-rows: 2fr 2fr 2fr 2fr;
                    /* Define tres filas con diferentes tamaños */
                    grid-template-columns: 1fr 1fr;
                    /* Define dos columnas con diferentes tamaños */
                    gap: 4%;
                    width: 60%;
                    height: 100%;
                    /*  border: 2px rgb(0, 149, 22) solid; */

                    @media (max-width: 800px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        min-height: 100%;
                        min-width: 100%;
                    }

                    .provider__profile__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                    }
                }

                .provider__profile__modals__container {
                    width: 40%;
                    height: 100%;
                    margin-left: 20%;
                    /* border: 2px rgb(0, 15, 125) solid; */

                    @media (max-width: 800px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                    }

                    .btn__modal__availability {
                        background-color: #EBDCC1;
                        width: 30vh;
                        height: 14vh;
                        border-radius: 25px;
                        border: 0.5px solid rgba(0, 0, 0, 0.50);
                        background: #EBDCC1;
                    }

                    .btn__modal__availability__items {
                       font-size: small;
                       font-weight: 600;
                    }

                }
            }

            .provider__profile__second__section {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 40%;
                width: 88%;
                margin-top: 3%;
                /* border: 1px rgb(255, 47, 0) solid; */

                @media (max-width: 800px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .provider__profile__buttons__container {
                    width: 30%;
                    height: 100%;
                    border: 2px rgb(0, 149, 22) solid;

                    @media (max-width: 800px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                    }
                }

                .provider__profile__documents__container {
                    width: 70%;
                    height: 100%;
                    border: 2px rgb(0, 15, 125) solid;

                    @media (max-width: 800px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

}