$tabBackgroundColor: #7f7e7e38;
$selectedTabColor: black;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100vh;
  background-color: #EBDCC1;

  .profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #000000;
    background: #AE7A6C;

    .img {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      margin-top: 46px;
    }

    .user-data {
      font-size: 16px;
      margin: 6px 0;
    }
  }
  .admin-data {
    height: 230px;
    width: 100%;
    background-color: #AE7A6C;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .img {
      width: 200px;
    }
  }
  
  .navigation-buttons{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 5em;
   > *:not(:first-child) {
    margin-top: 1.5rem; 
  }
  }

.logOut {
    background-color: #EBDCC1;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 125px;
    cursor: pointer;
    transition: background-color 0.4s ease; 
    margin-top: 4em;
    .span {
      padding-left: 7px;
    }
  
    &:hover {
      background-color: #c69081;
    }
  
    &.selected {
      background-color: #AE7A6C;
    }
  }
  
}

