* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-beige: #ebdcc1;
}
html {
  /* 10px por rem, 1rem = 10px */
  font-size: 62.5%;
  color: #2b2b2b;
  width: 100%;
}
body {
  font-family: "Montserrat", sans-serif, "Roboto";
  width: 100%;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
