.AllHome {
  display: flex;
  flex-direction: row;
//   height: 100vh;
padding-top: 15%;

  .HomeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    .ContainerCards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      //   min-width: 50em;
      //   max-width: 100em;
      margin: auto;
      .Link {
        text-decoration: none;
        color: inherit;
        .Cards {
          width: 240px;
          height: 140px;
          border-radius: 25px;
          margin: 2.5em;
          border: 0.5px solid rgba(0, 0, 0, 0.5);
          background: #f1f3ee;
          padding: 2em;
          cursor: pointer;
          &:hover {
            transition: all 0.5s;
            transform: scale(1.1);
            background: rgb(255, 251, 241);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
          .Img {
            width: 25px;
            height: 25px;
            color: #ae7a6c;
          }
          .Title {
            color: #000;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 600;
          }
          .Variables {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-top: 0.5em;
            color: #000;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
// @media (max-width: 870px) {
//   .AllHome {
//     .HomeContainer {
//         flex: wrap;
//       .ContainerCards {
//         // display: flex;
//         margin: auto;
//         .Link {
//           .Cards {
//             width: 170px;
//             height: 120px;
//             .Title {
//               font-size: 15px;
//             }
//             .Variables {
//               font-size: 20px;
//               margin-top: 0.5em;
//             }
//           }
//         }
//       }
//     }
//   }
// }
