.login-root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  .login-img {
    height: 100vh;
    width: 75%;
    object-fit: cover;
    object-position: center;
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 4em;
    .titleH1{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      color: #353535;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      height: 100%;
      width: 100%;
      margin-top: 2em;
      padding: 2em;
      cursor: default;
    }
    .formBox{
      display: flex;
      flex-direction: column;
      color: rgba(0, 0, 0, 0.60);
      font-family: Montserrat;
      font-size: 12px;
      height: 100%;
      margin-bottom: 5em;
      padding: 2em;
    }
    .ResetPassword{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      color: rgba(0, 0, 0, 0.70);
      font-family: Montserrat;
      font-size: 8px;
      font-weight: 600;
      text-decoration-line: underline;
      cursor: pointer;
      margin-top: 1em;
    }
    .BoxLoginSend{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      .loginSend{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9c6d61;
        text-align: center;
        margin-top: 3em;
        width: 250px;
        height: 40px;
        padding: 1em 1em;
        color: white;
        border: none;
        border-radius: 15px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
            cursor: pointer;
            background-color: #9c6d61c3;
        }
      }
      .pTopGoogle{
        color: rgba(0, 0, 0, 0.70);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        margin-top: 5em;
        cursor: default;
      }
      .imgGoogle{
        display: flex;
        height: 40px;
        width: 40px;
        object-fit: cover;
        object-position: center;
        margin-top: 2em;
        cursor: pointer;
      }
      .pBottomGoogle{
        margin-top: 6em;
        color: rgba(0, 0, 0, 0.70);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        cursor: default;
      }
      .pRegister{
        color: #E2D4BB;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
      }
      @media (max-width: 1300px) {
          .pTopGoogle{
            margin-top: 3em;
            font-size: 14px;
          }
          .pBottomGoogle{
            margin-top: 3em;
          }
          .imgGoogle {
          width: 35px;
          height: 35px;
          margin-top: 2em;
          font-size: 12px;
        }
      }
    }
  }
}
