.login-root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  .login-img {
    height: 100vh;
    width: 75%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 960px) {
    .login-img{
      display: none;
    }
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    .titleH1{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      color: #353535;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      height: 100%;
      width: 100%;
      margin: auto;
      padding: 1em;
      margin-top: 1em;
      cursor: default;
    }
    @media (max-width: 960px) {
      .titleH1{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
      }
    }
    .formBox{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      color: rgba(0, 0, 0, 0.60);
      font-family: Montserrat;
      font-size: 12px;
      height: 100%;
      margin-bottom: 8em;
      padding: 1em;
      .formControlSignIn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 20em;
        .pTitleBoxForm{
          width: 100%;
          margin-top: 2em;
          cursor: default;
        }
        .InputBoxForm{
          width: 100%;
        }
      }
    }
    .ResetPassword{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      color: rgba(0, 0, 0, 0.70);
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      text-decoration-line: underline;
      cursor: pointer;
      margin-top: 1em;
    }
    .BoxLoginSend{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      .loginSend{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9c6d61;
        text-align: center;
        margin-top: 3em;
        margin-bottom: 2rem;
        width: 100%;
        height: 40px;
        padding: 1em 1em;
        color: white;
        border: none;
        border-radius: 15px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
            cursor: pointer;
            background-color: #9c6d61c3;
        }
      }
/*       .pTopGoogle{
        color: rgba(0, 0, 0, 0.70);
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 3em;
        cursor: default;
      }
      .imgGoogle{
        display: flex;
        height: 40px;
        width: 40px;
        object-fit: cover;
        object-position: center;
        margin-top: 1em;
        cursor: pointer;
      } */
      .pBottomGoogle{
       /*  margin-top: 3em; */
        color: rgba(0, 0, 0, 0.70);
        font-family: "Montserrat", sans-serif;
        font-size: 0.938rem;
        font-weight: 400;
        cursor: default;
      }
      .pRegister{
        color: #E2D4BB;
        font-family: Montserrat;
        font-size: 1.25rem;
        font-weight: 700;
        cursor: pointer;
      }
      @media (max-width: 1300px) {
/*           .pTopGoogle{
            margin-top: 3em;
            font-size: 14px;
          }
          .pBottomGoogle{
            margin-top: 3em;
          }
          .imgGoogle {
          width: 35px;
          height: 35px;
          margin-top: 2em;
          font-size: 12px;
        } */
      }
    }
  }
  @media (max-width: 960px) {
    .form{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 100%;
      .formBox{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .ResetPassword{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
      }
    }
  }
}
