.inputText {
    display: flex;
    flex-direction: column;
    height: 40px;
    .inputText__label {
        font-size: small;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.60);
    }

    .inputText__input {
        width: 100%;
        padding: 5px 0;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.60);
        color: rgba(0, 0, 0, 0.922);
        font-size: smaller;
        font-weight: 700;
    }
}