.ContainerAll{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    .Container{
        width: 1150px;
        padding-right: 5em;
        margin: 4em;
        .TopContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            color: #000;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 100%;
            margin-bottom: 0.4em;
            cursor: default;
        }
        
        .ButtonNewDate{
            background-color: #9c6d61;
            text-align: center;
            width: 10em;
            height: 40px;
            padding: 1rem 1rem;
            color: white;
            border: none;
            border-radius: 15px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            &:hover {
                cursor: pointer;
                background-color: #9c6d61c3;
            }
        }
    
        .TopContainerTitles{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            border: 1px solid black;
            border-radius: 25px;
            margin-bottom: 3em;
            background: #EBDCC1;
            width: 100%;
            height: 45px;
            margin-left: auto;
            margin-right: auto;
            cursor: default;
            .BoxTitle{
                display: flex;
                margin-left: auto;
                margin-right: auto;
                width: 18em;
                .pTitle{
                    color: #000;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-left: auto;
                    margin-right: auto;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .BoxTitleBorder{
                display: flex;
                align-items: center;
                border-right: 1px solid rgba(52, 52, 52, 0.35);
                height: 100%;
            }
        }
    
        .CardsContainer{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            border: 1px solid black;
            border-radius: 25px;
            width: 100%;
            height: 80px;
            flex-shrink: 0;
            margin: auto;
            background: #CDB1A3;
            margin-bottom: 2.5em;
            .BoxCards{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 18em;
                cursor: default;
                .BoxCenterState{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                }
                .BoxCenterService{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: auto;
                }
                .pCards{
                    color: #000;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-left: auto;
                    margin-right: auto;
                }
                .pCardsStatus{
                    margin: auto;
                    margin-right: 1em;
                }
                .pCardsLimit{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .ImgConfirm{
                    color: green;
                    width: 25px;
                    height: 25px;
                }
                .ImgDenied{
                    color: red;
                    width: 25px;
                    height: 25px;
                }
                .ImgRescheduled{
                    color: rgb(0, 0, 2);
                    width: 25px;
                    height: 25px;
                }
                .ImgSettings{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                .ImgSettingsRed{
                    color: rgb(187, 0, 0);
                }
            }
            .BoxCardsDate{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .BoxCardsServices{
                padding: .5em;
            }
            .BoxCardsBackground{
                background-color: white;
                border-radius: 5px;
                font-size: large;
                white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
                overflow: hidden; /* Ocultar cualquier exceso de texto que no quepa en la línea */
                text-overflow: ellipsis; /* Agregar puntos suspensivos si el texto está recortado */
            }
            .BoxCardsBorder{
                display: flex;
                align-items: center;
                border-right: 1px solid rgba(52, 52, 52, 0.35);
                height: 100%;
            }
            .BoxCardsState{
                display: flex;
                flex-direction: row;
            }
            .BoxCardsButtonsActions{
                display: flex;
                padding: 4em;
            }
        }
    }
}